.container {
  margin-bottom: calc(var(--spacer) * 2);
}

.tagLine {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
  font-weight: bold;
  text-align: center;
}

.description {
  text-align: center;
}
