.container {
  margin: calc(var(--spacer) * 2);
}

@media screen and (min-width: 60rem) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container.mirror {
    flex-direction: row-reverse;
    text-align: left;
  }

  .content {
    margin-left: calc(var(--spacer) * 2);
  }

  .container.mirror .content {
    margin-left: 0;
    margin-right: calc(var(--spacer) * 2);
  }
}

.container > * {
  flex: 1 1 0;
}

.svg {
  margin: auto;
  max-width: 400px;
}

.content {
  padding: var(--spacer);
}

.content h3 {
  text-transform: lowercase;
  font-weight: bold;
}

.content button,
.content a[class*='button'] {
  display: block;
  margin: var(--spacer) auto;
  margin-right: auto;
}

.index {
  margin-bottom: calc(var(--spacer) / 2);
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--brand-gold);
}
