.filterList,
div.filterList {
  white-space: normal;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.separator {
  width: var(--spacer);
}

.filter {
  display: inline-block;
}

.filter,
button.filter,
.filter:hover,
.filter:active,
.filter:focus {
  margin-right: calc(var(--spacer) / 6);
  color: var(--color-secondary);
  font-weight: var(--font-weight-base);

  /* the only thing not possible to overwrite button style="text" with more specifity of selectors, so sledgehammer */
  padding: calc(var(--spacer) / 6) !important;
}

.filter:hover,
.filter:focus {
  color: var(--font-color-text);
  background: inherit;
  transform: none;
}

.filter.selected {
  font-weight: var(--font-weight-bold);
  color: var(--font-color-text);
  border-color: var(--brand-black);
  border-bottom: 2px solid var(--brand-black);
}

.filter.selected::after {
  content: url(../../../images/close_circle_outline.svg);
  margin-left: calc(var(--spacer) / 6);
}

.showClear:hover {
  display: inline-flex;
  color: var(--font-color-text);
}
.showClear {
  display: inline-flex;
  text-transform: capitalize;
  color: var(--color-secondary);
  font-weight: var(--font-weight-base);
  margin-left: calc(var(--spacer) / 6);
}

.hideClear {
  display: none !important;
}
