.row {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  margin: var(--spacer) 0;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  border-radius: var(--border-radius);
  padding: 0 calc(var(--spacer) / 2);
}

.row > div {
  margin: calc(var(--spacer) / 2);
}

@media (min-width: 40rem) {
  .row {
    flex-direction: row;
  }
}
