.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
  padding-left: 0;
  font-size: var(--font-size-small);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  border-radius: var(--border-radius);
}

.number {
  font-weight: var(--font-weight-semibold);
  padding: calc(var(--spacer) / 2);
  display: block;
  cursor: pointer;
  min-width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary);
}

.number,
.number:hover,
.number:focus,
.number:active {
  transform: none;
  outline: 0;
}

.number:hover {
  color: var(--brand-black);
}

.current,
.prev,
.next,
.break {
  composes: number;
}

.current {
  cursor: default;
  pointer-events: none;
  border-bottom: 2px solid var(--brand-black);
}

.current,
.current:hover,
.current:focus,
.current:active {
  color: var(--text-color);
}

.next {
  text-align: right;
}

.prevNextDisabled {
  opacity: 30%;
  pointer-events: none;
}

.arrow {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  border: 1px solid var(--brand-gold);
  border-radius: 50%;
  padding: 5px;
}

.arrow.previous {
  transform: rotate(180deg);
}
