.search {
  display: flex;
  position: relative;
  border-radius: var(--border-radius);
}

.button {
  color: var(--color-text);
  cursor: pointer;
  background: var(--brand-white);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: none;
  position: absolute;
  padding: calc(var(--spacer) / 4);
  width: 100%;
  right: 1px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  z-index: -1;
}

.button:hover,
.button:focus {
  color: var(--font-color-text);
}

.input {
  background-color: transparent;
  height: 46.34px;
  margin: 0;
  outline: 0;
  padding-right: var(--spacer);
  width: 0;
  transition: none;
}

.input:focus {
  width: calc(100% - var(--spacer));
  background: var(--brand-white);
  position: fixed;
  left: calc(var(--spacer) / 2);
  right: 0;
  z-index: 2;
}

.input::placeholder {
  color: var(--brand-black);
  opacity: 1;
}

.input:focus::placeholder {
  color: var(--font-color-text);
}

@media screen and (min-width: 78rem) {
  .input,
  .input:focus {
    width: auto;
    position: relative;
    left: initial;
    right: initial;
  }

  .button {
    width: auto;
    left: auto;
    background: none;
  }

  .input:focus + .button {
    z-index: 3;
  }
}

.searchIcon {
  fill: var(--brand-black);
  background: transparent;
  transition: 0.2s ease-out;
  width: var(--font-size-small);
  height: var(--font-size-small);
}
